<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/svgs/logo.svg">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/responsive.css">
    <script src="../../js/main.js"></script>
</head>
<body>
    <header>
        <nav>
            <div class="logo">EcoTech Recycle</div>
            <button class="menu-toggle" aria-label="Toggle menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <ul class="nav-links">
                <li><a href="../../pages/features/about-us.html">About Us</a></li>
                <li><a href="../../pages/features/recycling-guide.html">Recycling Guide</a></li>
                <li><a href="../../pages/feedback/index.html">Feedback</a></li>
                <li><a href="../../pages/auth/index.html">Login</a></li>
            </ul>
        </nav>
    </header>

    
</body>
</html>